[Unit]
Description=Freeswitch Prometheus Exporter

[Service]
User=freeswitch
Environment=OPTIONS=
EnvironmentFile=-/etc/default/freeswitch_exporter
ExecStart=/usr/local/bin/freeswitch_exporter $OPTIONS

[Install]
WantedBy=multi-user.target
